body {
  width: 90%;
  margin: auto;
  background-color: red;
  background: linear-gradient(#E622B3, #E9EAF3);
  background-image: url("abstract-white-background-10.jpg");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
}

p {
  /* font-family: "Times New Roman", Times, serif; */
  font-size: large;
  line-height: 1.6;
  color: #000066;
}

a:link {
  font-weight: bold;
  color: red;
}
a:visited {
  text-decoration: none;
}

a:hover {
  background-color: black;
}

blockquote {
  width: 50%;
  margin: auto;
  font-size: 160%;
  background-color: #d6d6c2;
  border-left: 3px solid FireBrick;
  padding: 80px 0 80px 30px;
  font-style: italic;
}

q {
  font-style: italic;
}

.villagers {
  border-left: 3px solid DarkMagenta;
}

.farmer {
  border-left: 3px solid Green;
}

header h1 {
  background-color: yellow;
}

.bien, .mal{
  text-transform: uppercase;
}

.mal {
  color: red;
}

.bien {
  color: green;
}

tr:nth-child(odd) {
  background-color: grey;
}
tr:nth-child(even) {
  background-color: white;
}

li:not(:last-child) {
  background-repeat: no-repeat;
  padding: 15px 0 15px 55px;
}

li:first-child {
  background-image: url("bien.png");
}

li:nth-child(2) {
  background-image: url("mal.png");
}

li:nth-child(3) {
  background-image: url("chat.png");
}
main p:first-child {
  font-weight: bold;
}

figure {
  width: 25%;
  float: left;
  margin-right: 20px;
}

img {
  width: 100%;
}
